.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #318524, #42ad31);
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

a {
  text-decoration: none;
}

.mdc-button {
  position: inherit;
}

/* smartphone */
@media (max-width: 767px) {
  .menu-button {
    display: none;
  }

  .header img {
    margin-left: calc(50% - 75px);
  }
}

.header img {
  width: 140px;
  height: auto;
}

.theme-toggle {
  margin-left: 10px;
}

.container {
  position: relative;
  padding-top: 45px;
  z-index: 999;
}

.sidenav {
  width: 250px;
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}
