.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.footer-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.footer-content-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-size: 10px;
}

.mat-mdc-card-content.footer-content-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-icon {
  margin-bottom: 5px;
}
