:host {

  color:white;
  
  .headline {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-position: left top;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.549)), url("/assets/img/hintergrund.jpg");
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .inner-container {
    margin-top: 150px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }

  .register-container {
    display: flex;
    justify-content: center;
    font-size: 10pt;

    .register-link {
      padding-left: 2px;
      color: #399B2A;
      text-decoration: none;
    }
  }


  .login-btn-container {
    display: flex;
    justify-content: center;
    width: 200px;

    &__content {
      background-color:#399B2A;
      width: 187px;
      border-radius: 4px;
      color: white;
    }

  }

}

.white-form-field {
  mat-label {
    color: white !important;
  }
}

::ng-deep .white-form-field input {
  color: white !important;
}

::ng-deep .white-form-field input::selection,
::ng-deep .white-form-field input::-moz-selection {
  color: white !important;
  background: rgb(18, 140, 185) !important;
}

::ng-deep .white-form-field .mat-focused,
.mat-form-field-label {
  color: white !important;
}

::ng-deep .white-form-field .mdc-notched-outline__leading,
::ng-deep .white-form-field .mdc-notched-outline__notch,
::ng-deep .white-form-field .mdc-notched-outline__trailing {
  border-color: white !important;
}