$default-spacing: 20px;
$smaller-spacing: 10px;
$border-radius: 20px;

.information-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* smartphone */
@media (max-width: 767px) {
  .information-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* tablet and pc */
@media (min-width: 768px) {
  .information-container {
    margin: auto;
  }
}


.information-image {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.information-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.information-button {
  position: fixed;
  z-index: 100;
  color: unset;
}

.information-card {
  margin-top: $default-spacing;
  margin-bottom: $default-spacing;
  padding: $smaller-spacing;
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: unset;
}

.mat-mdc-standard-chip {
  background-color: #4CAF50 !important; //need to override the default color because the normal color isn´t "primary" ist background-color: var(--mdc-chip-elevated-container-color, transparent); --mdc-chip-elevated-container-color: #595959; (grey)
}

.information-chipbox {
  margin-top: $default-spacing;
}

.information-text {
  margin-top: $default-spacing;
  padding-bottom: $default-spacing;
}

.information-prepare {
  margin-top: $default-spacing;
  display: flex;
  align-items: center;

  .information-icon {
    margin-right: $smaller-spacing;
  }
}

.information-summary {
  margin-top: $default-spacing;
  border-radius: $border-radius;
}

.information-ingredients {
  margin-top: $default-spacing;
  text-align: center;
  overflow: hidden;

  hr {
    border-top: 1px solid var(--mat-background);
  }

  .information-ingredients-single {
    padding-bottom: $smaller-spacing;
    padding-top: $smaller-spacing;
  }
}

@media (max-width: 400px) {
  .table-container {
    overflow-x: scroll;
  }
}
