<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<p>recipe-input works!</p>

<!-- App Header-->
<!-- https://angular.io/guide/reactive-forms -->
<form [formGroup]="recipeForm"> <!--(ngSubmit)="onSubmit()"-->
  <div>

    <mat-tab-group>
      <mat-tab label="Overview">
        <div>
          <mat-card>
            <mat-card-content>
              <span class="material-symbols-outlined">publish</span>
              <p>Upload a picture</p>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <mat-label>Title</mat-label>
              <input id="title" type="text" value="enter title">
              <mat-icon matSuffix>edit</mat-icon>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-label>Enter description</mat-label>
            <mat-icon matSuffix>edit</mat-icon>
          </mat-card>

          <div>
            <div>
              <mat-icon matSuffix>schedule</mat-icon>
              <mat-label>Duration</mat-label>


                <mat-label>h</mat-label>
                <mat-select>
                  <mat-option></mat-option>
                  <!-- https://material.angular.io/components/select/examples -->
                </mat-select>



                <mat-label>min</mat-label>
                <mat-select>
                  <mat-option></mat-option>
                </mat-select>

            </div>
            <div>
              <mat-icon matSuffix>person</mat-icon>
              <p>Portions</p>

                <mat-label>portions</mat-label>
                <mat-select>
                  <mat-option></mat-option>
                </mat-select>

            </div>

          </div>

          <div>
            <p>Categories </p>
            <mat-chip-listbox class="information-chipbox" aria-label="categories">
              <mat-chip>vegetarian</mat-chip>
              <mat-chip>vegan</mat-chip>
            </mat-chip-listbox>
          </div>


        </div>
      </mat-tab>
      <mat-tab label="Ingredients">
        <mat-label>Ingredients</mat-label>
        <div>

            <label for="amount">Amount</label>

            <input matInput id="amount" type="number" [formControl]="amount">
            <mat-icon matSuffix>edit</mat-icon>




            <mat-label>unit</mat-label>
            <mat-icon matSuffix>edit</mat-icon>
            <mat-select>
              <mat-option>ml</mat-option>
              <mat-option>l</mat-option>
              <mat-option>g</mat-option>
              <mat-option>kg</mat-option>
            </mat-select>

        </div>
        <div formGroupName="extendedIngredients">
          <label for="ingredient">Ingredient</label>
          <div></div>
          <input id="ingredient" type="text" [formControl]="ingredient">
          <mat-icon matSuffix>edit</mat-icon>
        </div>
        <button mat-button (click)="addIngredient()">+ Add Ingredient</button>
      </mat-tab>
      <mat-tab label="Instructions">
        <div>
          <label for="instructions">Enter Instruction</label>
          <textarea matinput id="instructions" type="text" formControlName="instructions">description</textarea>
          <mat-icon matSuffix>edit</mat-icon>

        </div>
        <button mat-button (click)="updateRecipe()" type="submit">
          <mat-icon matSuffix>save</mat-icon>
          Save Recipes
        </button>

      </mat-tab>
    </mat-tab-group>
  </div>
</form>

