<div *ngIf="recipe">

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>

      <mat-tab-group>
        <mat-tab label="Overview">
          <div class="information-container">
            <mat-card class="card">
              <mat-card-content class="picture">


                <div class="file-upload, z-index-front">
                  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                  <button mat-button type="button" class="upload-btn" (click)="fileUpload.click()">
                    <div class="column">
                      <mat-icon>publish</mat-icon>
                      <p>Upload a picture</p>
                    </div>
                  </button>
                </div>

                <p>{{fileName || recipe.image || "No file uploaded yet."}}</p>
                <button mat-button (click)="deleteImage()" type="button">
                  <mat-icon matSuffix>delete</mat-icon>
                </button>

              </mat-card-content>
            </mat-card>

            <mat-card class="card">
              <mat-card-content>
                <mat-form-field class="inputFullWidth">
                  <mat-label>Title</mat-label>
                  <input matInput id="title" value="enter title" formControlName="title">
                  <mat-icon matSuffix>edit</mat-icon>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

            <mat-card class="card">
              <mat-card-content>
                <mat-form-field class="inputFullWidth">
                  <mat-label>Enter description</mat-label>
                  <mat-icon matSuffix>edit</mat-icon>
                  <textarea matInput value="enter description" formControlName="summary"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>


            <mat-card class="card">

              <mat-card-content>
                <div class="beneath">
                  <div class="iconText">
                    <mat-icon matSuffix>schedule</mat-icon>
                    <span>Duration</span>
                  </div>
                  <mat-form-field>
                    <mat-label>min</mat-label>
                    <input matInput type="number" min="0" formControlName="readyInMinutes">

                  </mat-form-field>
                </div>
              </mat-card-content>


              <mat-card-content>
                <div class="beneath">
                  <div class="iconText">
                    <mat-icon matSuffix>person</mat-icon>
                    <span>Servings</span>
                  </div>
                  <mat-form-field>
                    <mat-label>servings</mat-label>
                    <input matInput type="number" min="1" formControlName="servings">
                  </mat-form-field>
                </div>
              </mat-card-content>

            </mat-card>


            <mat-card class="card">
              <mat-card-content formGroupName="categories">

                <input matInput hidden readonly>
                <mat-label>Categories</mat-label>
                <mat-chip-listbox aria-label="Diary selection" multiple class="information-chipbox">
                  <mat-chip-option [selected]="recipe.categories.vegetarian"
                                   (selectionChange)="updateDiet($event,'vegetarian')">vegetarian
                  </mat-chip-option>
                  <mat-chip-option [selected]="recipe.categories.vegan"
                                   (selectionChange)="updateDiet($event,'vegan')">vegan
                  </mat-chip-option>
                  <mat-chip-option [selected]="recipe.categories.glutenFree"
                                   (selectionChange)="updateDiet($event,'glutenFree')">glutenFree
                  </mat-chip-option>
                  <mat-chip-option [selected]="recipe.categories.dairyFree"
                                   (selectionChange)="updateDiet($event,'dairyFree')">dairyFree
                  </mat-chip-option>
                </mat-chip-listbox>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-tab>

        <mat-tab label="Ingredients">
          <div formArrayName="ingredients" class="information-container">
            <div *ngFor="let _ of getIngredients().controls; let i= index" [formGroupName]="i" class="card">
              <mat-card>
                <mat-card-content>
                  <div class="beneath">
                    <mat-form-field>
                      <mat-label>Amount</mat-label>
                      <input matInput id="amount" type="number" min="0" formControlName="amount">
                      <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Unit</mat-label>
                      <mat-icon matSuffix>edit</mat-icon>

                      <input matInput formControlName="unit">
                    </mat-form-field>
                  </div>

                  <mat-form-field class="inputFullWidth">
                    <mat-label>Ingredient</mat-label>
                    <input matInput id="ingredient" formControlName="name">
                    <mat-icon matSuffix>edit</mat-icon>
                  </mat-form-field>
                  <button mat-button (click)="removeIngredient(i)">
                    <mat-icon matSuffix>delete</mat-icon>
                  </button>
                </mat-card-content>

              </mat-card>
            </div>
            <button mat-flat-button color="primary" type="button" (click)="addIngredient()">+ Add Ingredient
            </button>
          </div>

        </mat-tab>

        <mat-tab label="Instructions">
          <div class="information-container">
            <mat-card class="card">
              <mat-card-content>
                <mat-form-field class="inputFullWidth">
                  <mat-label>Enter Instruction</mat-label>
                  <textarea matInput id="instructions" type="text" formControlName="instructions"></textarea>
                  <mat-icon matSuffix>edit</mat-icon>
                </mat-form-field>
              </mat-card-content>
            </mat-card>


            <button mat-raised-button color="primary" [disabled]="!recipeForm.valid" type="submit">
              <mat-icon matSuffix>save</mat-icon>
              <mat-label>Save Recipe</mat-label>
            </button>
            <!--<p>Form Status: {{ recipeForm.status }}</p>-->
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </form>

</div>
