.swipe-container {
  display: flex;
  flex-direction: column;
  height: 480px;
}

h2 {
  margin-bottom: 10px;
  font-size: 21px;
}

.swipe-more-information {
  margin-top: auto;
  margin-left: 15px;
}

.swipe-more-information > button {
  color: unset;
  width: 150px;
}

.swipe-img {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;

  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.swipe-actions {
  display: flex;
  justify-content: space-between;
}

.swipe-content {
  margin: 0;
  color: black;
}

.swipe-chips-container {
  margin-top: 10px;
}

.swipe-chips {
  background-color: #4CAF50 !important; //need to override the default color because the normal color isn´t "primary" ist background-color: var(--mdc-chip-elevated-container-color, transparent); --mdc-chip-elevated-container-color: #595959; (grey)
}

.swipe-text, .swipe-recipe-information {
  padding: 0 16px 0 16px;
}

.swipe-icon {
  margin-right: 7px;
}

.swipe-recipe-information-container {
  margin-top: 20px;
  display: flex;
  margin-right: 16px;
}

.swipe-recipe-information {
  display: flex;
  align-items: center;
}

.swipe-recipe-information:last-child {
  margin-right: 0;
}

.swipe-text-container {
  overflow: hidden;
}

.padding-left {
  padding-left: 16px;
}

.padding-right {
  padding-right: 16px;
}

.padding-null {
  padding: 0 !important; //overwrite the padding from the mdc-card of padding: 0 16px;
}

.padding-top {
  padding-top: 16px;
}

.color-white {
  color: white;
}
