<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="register-form" (submit)="onSubmit()" [formGroup]="registerForm">
        <mat-form-field hideRequiredMarker>
          <mat-label>Name</mat-label>
          <input matInput formControlName="displayName">
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <div class="register-btn-container">
          <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.disabled || registerForm.invalid">
            <mat-icon>check</mat-icon>
            Register
          </button>
        </div>
      </form>
      <div class="login-container">
        Already have an account?
        <div><a mat-flat-button color="accent" [routerLink]="['..', 'login']">Login</a></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
