.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 2em 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

.register-btn-container {
  align-self: end;
}
